.formFont {
  color: #767676;
}

.formMargin {
  margin-top: 80px;
}

.jumbotronStyle {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gridPadding {
  padding-top: 100px;
}

.marginHr {
  margin-top: 0;
  margin-bottom: 0;
}

.breadCrumbStyle {
  padding-bottom: 10px;
}

.MuiFormControl-root {
  min-width: 120px;
}

body {
  padding-bottom: 100px;
}

.styleInputError {
  border-color: red;
}

.styleInputSuccess {
  border-color: green;
}

.textError {
  color: red;
}

.textSuccess {
  color: green;
}