.formFont {
  color: #767676;
}

.formMargin {
  margin-top: 80px;
}

.jumbotronStyle {
  background-color: #f5f1e3;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gridPadding {
  padding-top: 100px;
}

.marginHr {
  margin-top: 0;
  margin-bottom: 0;
}

.breadCrumbStyle {
  padding-bottom: 10px;
}

.MuiFormControl-root {
  min-width: 120px;
}

body {
  padding-bottom: 100px;
  background-color: #E1E2E1;
}

.styleInputError {
  border-color: red;
}

.styleInputSuccess {
  border-color: green;
}

.textError {
  color: red;
}

.textSuccess {
  color: green;
}

.styleLinkActive {
  z-index: 1;
  color: #000;
  background-color: #9f8761;
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.styleLink {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #000;
  background-color: #fff;
  border: 1px solid #dee2e6;
  cursor: pointer;
}